description = "Footer Widgets"

[viewBag]

[blogCategories footerCategories]
slug = "{{ :slug }}"
displayEmpty = 0
categoryPage = "blog/blog"

[blogPosts footerPopular]
pageNumber = "{{ :page }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/blog"
postPage = "blog/detail"
==
<div class="module-small bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="widget">
                    <h5 class="widget-title font-alt">{{ this.theme.company_title }}</h5>
                    <p>
                        <b>{{ this.theme.company_name }}</b><br />
                        {{ this.theme.contact_address }}<br />
                        {{ this.theme.contact_address2 }}</p>
                    <p>
                        <i class="fa fa-phone"></i> {{ this.theme.contact_phone }}<br />
                        <i class="fa fa-fax"></i> {{ this.theme.contact_fax }}</p>
                    <p><i class="fa fa-envelope"></i> <a href="mailto:{{ this.theme.contact_email }}">{{ this.theme.contact_email }}</a></p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="widget">
                    <h5 class="widget-title font-alt">友情链接</h5>
                    <ul class="icon-list">
                        <li><a href="http://www.nineear.com/" target="_blank">九耳</a></li>
                        <li><a href="https://www.themeshow.cn">THEMESHOW</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                {% component 'footerCategories' %}
            </div>
            <div class="col-sm-3">
                {% component 'footerPopular' %}
                
            </div>
        </div>
    </div>
</div>